<h2>Add Password</h2>
<hr />

<form #addPasswordForm="ngForm" autocomplete="off">
    <div [ngClass]="{'has-error': Password.dirty && !Password.invalid}" class="g-mt-20">
        <mat-form-field>
            <input matInput id="Password" name="Password" type="password" [(ngModel)]="model.Password" #Password="ngModel" placeholder="Password" required />
        </mat-form-field>
    </div>
    <div [ngClass]="{'has-error': ConfirmPassword.dirty && !ConfirmPassword.invalid}" class="g-mt-20">
        <mat-form-field>
            <input matInput id="ConfirmPassword" name="ConfirmPassword" type="password" [(ngModel)]="model.ConfirmPassword" placeholder="Confirm Password" #ConfirmPassword="ngModel" required />
        </mat-form-field>
    </div>
    <div class="g-mt-20">
        <button mat-raised-button (click)="addPassword()" [disabled]="addPasswordForm.form.invalid || isBusy" type="button" color="primary">
            Save
        </button>
        <button mat-raised-button (click)="cancel()" [disabled]="isBusy" type="button">
            Cancel
        </button>
    </div>
</form>
