<h2>Confirm Email</h2>
<hr />

<div class="g-mt-20">
    <p>
        A confirmation email has been sent to your email address.<br />
        Please use the link in the email to confirm your email address.
    </p>
    <p>
        If you didn't receive a confirmation email, please send it again.<br />
    </p>
</div>
<div class="g-mt-20">
    <button mat-raised-button (click)="resendConfirmationEmail()" [disabled]="isBusy" type="button" color="primary">
        Resend Confirmation Email
    </button>
</div>
