## General rules

# Build folders
[Bb]in/
[Oo]bj/

# NPM packages
npm-debug.log
node_modules

# NuGet packages
packages

# Personal database queries (no need to save)
SolutionItems/Scripts/Database/Personal/

# Publish profiles
*.pubxml

# User-specific files
*.suo
*.user

# Visual Studio
.vs/
UpgradeLog.htm

# Others
~$*
Thumbs.db

## Project specific rules

# AngularClient
AngularClient/dist
AngularClient/dist-last
AngularClient/out-tsc

#AngularClient/e2e/*.js
#AngularClient/e2e/*.map

AngularClient/src/index.prod.html

AngularClient/src/environments/*
!AngularClient/src/environments/environment.ts
!AngularClient/src/environments/Readme.md

# DataMigrator
DataMigrator/Configs/*.config

# WebApi
WebApi/App_Data/
WebApi/Configs/*.config
WebApi/Configs/Production/*.config
.DS_Store
