<style>

    html, body {
        width: 100%;
        height: 100%;
    }

    body {
        width: 100%;
        height: 100%;
    }
</style>
<div class="mat-app-background">
    <h2>
        Dev Module - All Components
    </h2>
    <p class="g-mt-20">
        A lightweight versions of 'app module' to make quick sanity checks.
    </p>
    <hr class="g-mt-20" />
    <div *ngIf="currentUser" class="g-mt-20">
        Current User / Id / Auth?: {{ currentUser.Email + " - " + currentUser.Id + " - " + currentUser.isAuthenticated() }}
        <button mat-raised-button [hidden]="!currentUser.isAuthenticated()" (click)="logout()">logout</button>
        <button mat-raised-button [hidden]="currentUser.isAuthenticated()" (click)="login()">login</button>
    </div>
    <hr class="g-mt-20" />
    <div class="g-mt-20">
        <navigation></navigation>
    </div>
    <hr class="g-mt-20" />
    <div class="g-mt-20">
        <router-outlet></router-outlet>
    </div>
</div>
