<div class="alert alert-warning" [hidden]="currentUser && currentUser.isAuthenticated()">
  Please login first!
</div>
<div [hidden]="!(currentUser && currentUser.isAuthenticated())">
  <odata-user></odata-user>
  <odata-project></odata-project>
  <odata-element></odata-element>
  <odata-element-field></odata-element-field>
  <odata-user-element-field></odata-user-element-field>
  <odata-element-item></odata-element-item>
  <odata-element-cell></odata-element-cell>
  <odata-user-element-cell></odata-user-element-cell>
</div>
