<div>
    <p>
        OData - Project
    </p>
    <p>
        <button mat-raised-button type="button" (click)="getOwn()" color="primary">Get - own</button>
        <button mat-raised-button type="button" (click)="getAnother()" color="primary">Get - another</button>
    </p>
    <p>
        <button mat-raised-button type="button" (click)="createOwn()" color="primary">Create - own</button>
        <button mat-raised-button type="button" (click)="createAnother()" color="warn">Create - another</button>
    </p>
    <p>
        <button mat-raised-button type="button" (click)="updateOwn()" color="primary">Update - own</button>
        <button mat-raised-button type="button" (click)="updateAnother()" color="warn">Update - another</button>
        <button mat-raised-button type="button" (click)="updateNotFound()" color="warn">Update - not found</button>
    </p>
    <p>
        <button mat-raised-button type="button" (click)="deleteOwn()" color="primary">Delete - own</button>
        <button mat-raised-button type="button" (click)="deleteAnother()" color="warn">Delete - another</button>
        <button mat-raised-button type="button" (click)="deleteNotFound()" color="warn">Delete - not found</button>
    </p>
</div>
