<div>
    <p>
        WebApi - Get
    </p>
    <p>
        <button mat-raised-button type="button" (click)="noContentGet()">no content</button>
        <button mat-raised-button type="button" (click)="okGet()">ok</button>
    </p>
    <p>
        WebApi - Post
    </p>
    <p>
        <button mat-raised-button type="button" (click)="noContentPost()">no content</button>
        <button mat-raised-button type="button" (click)="okPost()">ok</button>
        <button mat-raised-button type="button" (click)="badRequest()">bad request</button>
        <button mat-raised-button type="button" (click)="badRequestMessage()">bad request - message</button>
        <button mat-raised-button type="button" (click)="conflict()">conflict</button>
    </p>
    <p>
        <button mat-raised-button type="button" (click)="exception()">exception</button>
        <button mat-raised-button type="button" (click)="internalServerError()">internal server error</button>
    </p>
    <p>
        <button mat-raised-button type="button" (click)="modelStateError()">model state error</button>
        <button mat-raised-button type="button" (click)="notFound()">not found</button>
        <button mat-raised-button type="button" (click)="unauthorized()">unauthorized</button>
    </p>
</div>
