/* You can add global styles to this file, and also import other style files */
@import "theme.scss";
@import "callout.scss";
@import "variables.scss";

body {
  margin: 0;
}

h1, h2, h3 {
  color: $primary;
}

hr {
  border: 0.9px solid $primary;
}

table {
  width: 100%;
}

[hidden] {
  display: none !important;
}

.mat-form-field {
  width: 50%;
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  -o-justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-align-items: center;
}

.mat-app-background {
  padding: 5px;
}

.text-center {
  text-align: center;
}

/* Margin Spaces */
.g-mt-10 {
  margin-top: 5px;
}

.g-mt-10 {
  margin-top: 10px;
}

.g-mt-20 {
  margin-top: 20px;
}

.g-mt-30 {
  margin-top: 30px;
}

.g-mt-40 {
  margin-top: 40px;
}

.g-mt-50 {
  margin-top: 50px;
}

.g-mt-60 {
  margin-top: 60px;
}

.g-mt-70 {
  margin-top: 70px;
}

.g-mt-80 {
  margin-top: 80px;
}

.g-mt-90 {
  margin-top: 90px;
}

.g-mt-100 {
  margin-top: 100px;
}

.g-mb-10 {
  margin-bottom: 5px;
}

.g-mb-10 {
  margin-bottom: 10px;
}

.g-mb-15 {
  margin-bottom: 15px;
}

.g-mb-20 {
  margin-bottom: 20px;
}

.g-mb-25 {
  margin-bottom: 25px;
}

.g-mb-30 {
  margin-bottom: 30px;
}

.g-mb-35 {
  margin-bottom: 35px;
}

.g-mb-40 {
  margin-bottom: 40px;
}

.g-mb-45 {
  margin-bottom: 45px;
}

.g-mb-50 {
  margin-bottom: 50px;
}

.g-mb-55 {
  margin-bottom: 55px;
}

.g-mb-60 {
  margin-bottom: 60px;
}

.g-mb-65 {
  margin-bottom: 65px;
}

.g-mb-70 {
  margin-bottom: 70px;
}

.g-mb-75 {
  margin-bottom: 75px;
}

.g-mb-80 {
  margin-bottom: 80px;
}

.g-mb-85 {
  margin-bottom: 85px;
}

.g-mb-90 {
  margin-bottom: 90px;
}

.g-mb-95 {
  margin-bottom: 95px;
}

.g-mb-100 {
  margin-bottom: 100px;
}

.g-ml-5 {
  margin-left: 5px;
}

.g-ml-10 {
  margin-left: 10px;
}

.g-ml-20 {
  margin-left: 20px;
}

.g-ml-30 {
  margin-left: 30px;
}

.g-ml-40 {
  margin-left: 40px;
}

.g-ml-50 {
  margin-left: 50px;
}

.g-ml-60 {
  margin-left: 60px;
}

.g-ml-70 {
  margin-left: 70px;
}

.g-ml-80 {
  margin-left: 80px;
}

.g-ml-90 {
  margin-left: 90px;
}

.g-ml-100 {
  margin-left: 100px;
}

.g-mr-5 {
  margin-right: 5px;
}

.g-mr-10 {
  margin-right: 10px;
}

.g-mr-20 {
  margin-right: 20px;
}

.g-mr-30 {
  margin-right: 30px;
}

.g-mr-40 {
  margin-right: 40px;
}

.g-mr-50 {
  margin-right: 50px;
}

.g-mr-60 {
  margin-right: 60px;
}

.g-mr-70 {
  margin-right: 70px;
}

.g-mr-80 {
  margin-right: 80px;
}

.g-mr-90 {
  margin-right: 90px;
}

.g-mr-100 {
  margin-right: 100px;
}

/*#endregion */
