/* You can add global styles to this file, and also import other style files */
@import "theme.scss";
@import "callout.scss";
@import "variables.scss";

body {
  margin: 0;
}

h1 {
  color: #4a4a4a;
  font-size: 24px;
  font-family: Arial !important;
  font-weight: bold !important;
  font-style: normal !important;
  letter-spacing: normal !important;
  margin: 16px 0 16px !important;
}

h2 {
  color: #4a4a4a;
  font-size: 18px;
  font-family: Arial;
  font-weight: bold;
  font-style: normal;
  letter-spacing: normal;
  margin: 16px 0 6px !important;
}

.mat-button {
  line-height: 36px !important;
}

.mat-typography p {
  margin: 6px 0 12px;
}

.mat-select {
  width: 98% !important;
  font-family: Arial !important;
  font-size: 16px !important;
}

.mat-select-value {
  display: table-cell;
  max-width: 0;
  width: 100%;
  padding-top: 10px;
  padding-left: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-ink-bar {
  background-color: #58b287 !important;
  height: 4.8px !important;
}

mat-card {
  border-radius: 6px !important;
  padding: 0px 6px 0px !important;
  border-radius: 4px;
  border: solid 1px #dbdbdd;
  background-color: #ffffff;
  box-shadow: none !important;
}

  mat-card a {
    font-weight: bold;
    color: #4a4a4a;
  }

mat-card-title {
  margin: 16px;
}

mat-form-field {
  .mat-form-field-ripple {
    top: 0;
    height: 0px !important;
    overflow: hidden;
  }

  .mat-form-field-underline {
    height: 0px !important;
  }

  .mat-input-element {
    height: 40px;
    padding: 0 14px 0 14px;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  }

  .mat-form-field-label-wrapper {
    top: -0.6em;
    left: 0.3em;
    padding-top: 0.84375em;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
  }

  .mat-focused {
    top: -1em !important;
    left: 0.3em !important;
    padding-top: 0.84375em;
    font-size: 20px;
  }

  .mat-hint {
    font-size: 14px;
  }
}

.mat-flat-button {
  background-color: #58b287;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  height: 40px;
}

thead {
  .mat-header-cell {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
  }
}

hr {
  border: 0.9px solid $primary;
}

table {
  width: 100%;
}

[hidden] {
  display: none !important;
}

.mat-form-field {
  width: 50%;
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  -o-justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-align-items: center;
}

.mat-app-background {
  padding: 5px;
}

.text-center {
  text-align: center;
}

/* Margin Spaces */
.m-16 {
  margin: 16px !important;
}

.g-mt-10 {
  margin-top: 5px;
}

.g-mt-10 {
  margin-top: 10px;
}

.g-mt-20 {
  margin-top: 20px;
}

.g-mt-30 {
  margin-top: 30px;
}

.g-mt-40 {
  margin-top: 40px;
}

.g-mt-50 {
  margin-top: 50px;
}

.g-mt-60 {
  margin-top: 60px;
}

.g-mt-70 {
  margin-top: 70px;
}

.g-mt-80 {
  margin-top: 80px;
}

.g-mt-90 {
  margin-top: 90px;
}

.g-mt-100 {
  margin-top: 100px;
}

.g-mb-10 {
  margin-bottom: 5px;
}

.g-mb-10 {
  margin-bottom: 10px;
}

.g-mb-15 {
  margin-bottom: 15px;
}

.g-mb-20 {
  margin-bottom: 20px;
}

.g-mb-25 {
  margin-bottom: 25px;
}

.g-mb-30 {
  margin-bottom: 30px;
}

.g-mb-35 {
  margin-bottom: 35px;
}

.g-mb-40 {
  margin-bottom: 40px;
}

.g-mb-45 {
  margin-bottom: 45px;
}

.g-mb-50 {
  margin-bottom: 50px;
}

.g-mb-55 {
  margin-bottom: 55px;
}

.g-mb-60 {
  margin-bottom: 60px;
}

.g-mb-65 {
  margin-bottom: 65px;
}

.g-mb-70 {
  margin-bottom: 70px;
}

.g-mb-75 {
  margin-bottom: 75px;
}

.g-mb-80 {
  margin-bottom: 80px;
}

.g-mb-85 {
  margin-bottom: 85px;
}

.g-mb-90 {
  margin-bottom: 90px;
}

.g-mb-95 {
  margin-bottom: 95px;
}

.g-mb-100 {
  margin-bottom: 100px;
}

.g-mb-150 {
  margin-bottom: 150px;
}

.g-mb-250 {
  margin-bottom: 250px;
}

.g-ml-5 {
  margin-left: 5px;
}

.g-ml-10 {
  margin-left: 10px;
}

.g-ml-20 {
  margin-left: 20px;
}

.g-ml-30 {
  margin-left: 30px;
}

.g-ml-40 {
  margin-left: 40px;
}

.g-ml-50 {
  margin-left: 50px;
}

.g-ml-60 {
  margin-left: 60px;
}

.g-ml-70 {
  margin-left: 70px;
}

.g-ml-80 {
  margin-left: 80px;
}

.g-ml-90 {
  margin-left: 90px;
}

.g-ml-100 {
  margin-left: 100px;
}

.g-mr-5 {
  margin-right: 5px;
}

.g-mr-10 {
  margin-right: 10px;
}

.g-mr-20 {
  margin-right: 20px;
}

.g-mr-30 {
  margin-right: 30px;
}

.g-mr-40 {
  margin-right: 40px;
}

.g-mr-50 {
  margin-right: 50px;
}

.g-mr-60 {
  margin-right: 60px;
}

.g-mr-70 {
  margin-right: 70px;
}

.g-mr-80 {
  margin-right: 80px;
}

.g-mr-90 {
  margin-right: 90px;
}

.g-mr-100 {
  margin-right: 100px;
}

/*#endregion */
