form {
  padding-bottom: 10px;
}

.mat-cell {
  padding: 4px 0;
}

mat-card a {
  font-weight: normal;
  color: #0019ff;
  text-decoration: underline;
  cursor: pointer;
}

label {
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  padding-top: 10px;
  height: 30px !important;
}
