<form #elementForm="ngForm">
    <div class="g-mt-40">
        <div [ngClass]="{ 'has-error': element.entityAspect.getValidationErrors('Name').length > 0 }">
            <mat-form-field>
                <input matInput id="Name" name="Name" type="text" [(ngModel)]="element.Name" placeholder="Name"/>
            </mat-form-field>
        </div>

        <div class="g-mt-20">
            <button mat-raised-button (click)="saveElement()" [disabled]="submitDisabled()" type="button" color="primary">
                Save
            </button>
            <button mat-raised-button (click)="cancelElement()" [disabled]="isBusy" type="button">
                Cancel
            </button>
        </div>
    </div>
</form>
