i {
  padding-bottom: 2px;
}

form {
  padding-bottom: 10px;
}

.mat-cell {
  padding: 4px 0;
}

.mat-m02 {
  margin: .2em;
}

mat-card a {
  font-weight: normal;
  color: #0019ff;
  text-decoration: underline;
  cursor: pointer;
}
