<div [hidden]="viewMode !== 'new'">

  <mat-card class="no-shadow">
    <div fxLayout="row" fxLayoutAlign="center center" style=" height: 100%;">
      <div fxLayout="column" style="display: block; height: 164px;">
        <div fxFlex fxLayout="row" fxLayout.xs="column">

          <div fxFlex="60%" class="start-text" [ngStyle.xs]="{'font-size.px': 24}" [ngStyle.sm]="{'font-size.px': 24}"
            [ngStyle.md]="{'font-size.px': 24}" [ngStyle.lg]="{'font-size.px': 28}">
            Start by creating your first Todo App through our ready to use demo template
          </div>

          <div fxFlex style="padding-top: 140px;" fxLayoutAlign="center center" [ngStyle.xs]="{'padding-top.px': 90}"
            [ngStyle.sm]="{'padding-top.px': 150}" [ngStyle.md]="{'padding-top.px': 160}" [ngStyle.lg]="{'padding-top.px': 100}">

            <button mat-flat-button class="mat-primary" (click)="createProjectTodo()" [disabled]="isBusy" [ngStyle.xs]="{'font-size.px': 16, 'height.px': 56}"
              [ngStyle.sm]="{'font-size.px': 20, width: 200, 'height.px': 56}" [ngStyle.md]="{'font-size.px': 20, 'height.px': 56}"
              [ngStyle.lg]="{'font-size.px': 20, 'height.px': 46}">
              Create App
            </button>
          </div>

        </div>
      </div>
    </div>
  </mat-card>

  <h2>Choose your template</h2>
  <mat-divider></mat-divider>

  <div class="templateContainer g-mt-20" [ngStyle.lg]="{'text-align': 'left'}">
    <button mat-raised-button (click)="createProjectEmpty()" [disabled]="isBusy" [ngStyle.lg]="{'width.px': 260}" class="mat-m01 mat-m02">
      Blank
      <h5 class="ws-n">Jump start your document by creating a basic accessible template</h5>
    </button>
    <button mat-raised-button (click)="createProjectBasic()" [disabled]="isBusy" [ngStyle.lg]="{'width.px': 260}" class="mat-m01 mat-m02">
      Basic
      <h5 class="ws-n">A Multipurpose template for designing websites and web applications</h5>
    </button>
    <button mat-raised-button (click)="createProjectParentChild()" [disabled]="isBusy" [ngStyle.lg]="{'width.px': 260}"
      class="mat-m01 mat-m02">
      Parent - Child
      <h5 class="ws-n">A Multipurpose template for designing web and mobile applications</h5>
    </button>
    <button mat-raised-button (click)="createProjectTodo()" [disabled]="isBusy" [ngStyle.lg]="{'width.px': 260}" class="mat-m01 mat-m02">
      Todo App
      <h5 class="ws-n">A Multipurpose template for designing websites and web applications</h5>
    </button>
  </div>

</div>
<div [hidden]="viewMode !== 'existing'">
  <div *ngIf="project">

    <h2>
      <button mat-icon-button (click)="cancelProject()">
        <mat-icon aria-label="Back">keyboard_arrow_left</mat-icon>
      </button>
      {{ project.Name }}
    </h2>

    <mat-card class="mat-card-std" style="height: 228px !important;">
      <mat-card-title>Project Overview</mat-card-title>
      <form #projectForm="ngForm" autocomplete="off">
        <div fxLayout="row" fxLayoutAlign="start start">
          <div class="board">
            <div [ngClass]="{ 'has-error': project.entityAspect.getValidationErrors('Name').length > 0 }" class="g-mt-20">
              <mat-form-field>
                <input matInput [(ngModel)]="project.Name" id="Name" name="Name" placeholder="Name" />
              </mat-form-field>
            </div>
          </div>

          <div class="board">
            <div [ngClass]="{ 'has-error': project.entityAspect.getValidationErrors('Origin').length > 0 }" class="g-mt-20">
              <mat-form-field>
                <input matInput [(ngModel)]="project.Origin" id="Origin" name="Origin" placeholder="Origin URL" />
              </mat-form-field>
              <mat-card-content id="KeyHelp" class="fs-12">
                The host/domain that the client application will be making the requests from.
              </mat-card-content>
            </div>
          </div>

          <div class="board">
            <div [ngClass]="{ 'has-error': project.entityAspect.getValidationErrors('Description').length > 0 }" class="g-mt-20">
              <mat-form-field>
                <textarea matInput [(ngModel)]="project.Description" id="Description" name="Description" placeholder="Description"></textarea>
              </mat-form-field>
            </div>
          </div>

          <div class="board-no-border">
            <button mat-flat-button (click)="saveProject()" [disabled]="submitDisabled()" class="mat-m02">
              Save project
            </button>
          </div>
        </div>
      </form>
    </mat-card>

    <h2>Manage Project</h2>

    <mat-tab-group (selectedTabChange)="selectedTabChanged($event)">
      <mat-tab label="Elements" [disabled]="isEditing">
        <element-manager *ngIf="selectedTabIndex === 0" [project]="project" (isEditingChanged)="isEditingChanged($event)"></element-manager>
      </mat-tab>

      <mat-tab label="Fields" [disabled]="isEditing">
        <element-field-manager *ngIf="selectedTabIndex === 1" [project]="project" (isEditingChanged)="isEditingChanged($event)"></element-field-manager>
      </mat-tab>

      <mat-tab label="Items" [disabled]="isEditing">
        <element-item-manager *ngIf="selectedTabIndex === 2" [project]="project" (isEditingChanged)="isEditingChanged($event)"></element-item-manager>
      </mat-tab>

      <mat-tab label="Cells" [disabled]="isEditing">
        <element-cell-manager *ngIf="selectedTabIndex === 3" [project]="project" (isEditingChanged)="isEditingChanged($event)"></element-cell-manager>
      </mat-tab>
    </mat-tab-group>

  </div>

</div>
