@media only screen and (min-width: 300px) and (max-width: 425px) {
  .board {
    width: 100% !important;
    float: none !important;
    height: auto !important;
    border: none !important;
    padding: 4px !important;
  }

  .board-no-border {
    width: 100% !important;
    float: none !important;
    height: auto !important;
    border: none !important;
    padding: 0px !important;
  }

  .header {
    font-size: 24px !important;
  }

  .header-btn {
    padding-top: 90px !important;
  }

  .mat-flat-button.mat-primary, .mat-raised-button.mat-primary {
    font-size: 16px !important;
    height: 56px !important;
    width: 200px;
  }

  .mat-card-std {
    height: auto !important;
    padding-top: 24px;
    border-radius: 4px;
    border: solid 1px #dbdbdd;
    background-color: #ffffff;
    box-shadow: none !important;
    background-image: none !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    font-size: 24px !important;
  }

  .header-btn {
    padding-top: 160px !important;
  }

  .mat-flat-button.mat-primary, .mat-raised-button.mat-primary {
    font-size: 20px !important;
    width: 260px !important;
    height: 56px !important;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .header {
    font-size: 28px !important;
  }

  .header-btn {
    padding-top: 160px !important;
  }
}

form {
  padding-bottom: 10px;
}

textarea.mat-input-element {
  padding: 10px 2px 0;
  margin: -2px 0;
  padding: 10px 10px 0px 14px;
  height: 30px;
}

.board {
  width: 24%;
  float: left;
  height: auto !important;
  border-right: 1px solid;
  border-right-color: #e2e2e4;
  padding: 16px;
}

.board-no-border {
  width: 26%;
  float: left;
  height: 140px;
  border-right-color: #e2e2e4;
  padding: 42px 0px 0px 0px;
}

.cellFilterContainer {
  display: flex;
}

  .cellFilterContainer .mat-form-field {
    padding: 0 2px;
  }

.desc {
  display: block;
  height: 164px;
}


.fs-12 {
  font-size: 12px !important;
}

.header {
  font-family: Arial;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #4a4a4a;
  padding: 10px;
}

.header-btn {
  padding-top: 140px;
}

.h-auto{
  padding: 10px;
  height: auto !important;
}

.h-40 {
  height: 40px;
}

.h-60 {
  height: 60px;
  padding-top: 20px;
}

.h-100 {
  height: 100%
}

.link {
  font-weight: normal;
  color: #0019ff;
  text-decoration: underline;
  cursor: pointer;
}

.mat-card {
  margin-top: 28px;
  height: 340px !important;
  background-image: url("/assets/images/diamondreflection.png");
  background-size: cover;
}

.mat-card-std {
  height: auto !important;
  padding-top: 24px;
  border-radius: 4px;
  border: solid 1px #dbdbdd;
  background-color: #ffffff;
  box-shadow: none !important;
  background-image: none !important;
}

.mat-card-title {
  margin: 16px !important;
}

.mat-cell {
  padding: 4px 0;
}

.mat-form-field {
  width: 90%;
}

.mat-tab-nav-bar, .mat-tab-header {
  border-bottom: 0px solid rgba(0, 0, 0, 1) !important;
}

.mat-stroked-button {
  border: solid 1px #58b287 !important;
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary {
  width: 212px;
  height: 60px;
  background-color: #58b287;
  font-family: Arial;
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.no-wrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.p-4 {
  padding: 0 4px 20px  !important
}

.p-16 {
  padding: 16px;
}

.templateContainer {
  text-align: center;
}

.templateContainer button {
  height: 200px;
  margin-right: 20px;
  width: 274px;
}

.template-card {
  width: 283.5px;
  height: 200px;
  border-radius: 4px;
  border: solid 1px #dbdbdd;
  background-color: #ffffff;
}

.w-30p {
  width: 30% !important;
}

.wp-30 {
  width: 30%; float: left;
}

.w-35p {
  width: 35% !important;
}

.wp-40 {
  width: 40%; float: left;
}

.wp-60 {
  width: 60%; float: left;
}

.wp-70 {
  width: 70%; float: left;
}

.w-310 {
  width: 310px !important;
}

.ws-n {
  white-space: normal;
}
