@media only screen and (min-width: 300px) and (max-width: 425px) {
  .row {
    display: block !important;
  }

  .card {
    width: 100% !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {

  .date {
    display: none;
  }
}

a {
  text-decoration: none;
  color: #212121;
  cursor: pointer;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

mat-card a {
  font-weight: normal;
  color: #0019ff;
  text-decoration: underline;
  cursor: pointer;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 40, 100, 0.12);
  border-radius: 6px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  margin: .5rem;
  width: 20%;
}

.card-header {
  border-radius: calc(3px - 1px) calc(3px - 1px) 0 0;
  background: none;
  display: -ms-flexbox;
  display: flex;
  min-height: 3.5rem;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 40, 100, 0.12);
}

.card-title {
  font-size: 1.125rem;
  line-height: 1.2;
  font-weight: 500;
  margin: 1rem;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0;
  padding: 1.5rem 1.5rem;
  position: relative;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.progress-sm, .progress-sm .progress-bar {
  height: .5rem;
}

.progress {
  position: relative;
}
.progress {
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  font-size: 0.703125rem;
  background-color: #e9ecef;
  border-radius: 3px;
}

.progress-bar {
  height: .5rem;
}

.bg-green {
  background-color: #5eba00 !important;
}

.mb-1r{
  margin-bottom: 1rem !important;
}

.display-fs3 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.1;
}
  .display-fs3 a {
    color: #0019ff;
  }

.text-center {
  text-align: center !important;
}


.mb-150 {
  margin-bottom: 150px !important;
}
