.mat-cell {
  padding: 4px 0;
}

.mat-row {
  padding-left: 24px;
}

.noResults {
  display: flex;
  justify-content: center;
  -o-justify-content: center;
  -webkit-justify-content: center;
  padding: 2em;
}
