mat-card a {
  font-weight: normal;
  color: #0019ff;
  text-decoration: underline;
  cursor: pointer;
}

.mat-cell {
  padding: 4px 0;
}

.mat-row {
  padding-left: 24px;
}

.mb-150 {
  margin-bottom: 150px !important;
}
