.footer {
  position: fixed;
  bottom: 6px;
  left: 6px;
  right: 6px;
  width: initial;
}

  .footer a {
    display: flex;
    justify-content: center;
  }

  .footer .footer-left {
    margin-right: 20px;
  }

  .footer .footer-right {
    margin-left: 20px;
  }

.header {
  left: 6px;
  position: fixed;
  right: 6px;
  top: 6px;
  width: initial;
}

  .header a {
    padding: 5px;
    line-height: initial;
  }

  .header h1 {
    display: inline-block;
    margin-left: 5px;
  }

.sidenav {
  align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-align-items: center;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  width: 50px;
}

  .sidenav a, .sidenav button {
    min-width: 50px;
    padding: 5px 0;
  }

.rotate {
  transform: rotate(180deg);
}

.sidenav-container {
  position: absolute;
  top: 78px;
  bottom: 78px;
  left: 5px;
  right: 5px;
}

.sidenav-content {
  padding: 30px 30px 25px 40px;
}
