@media only screen and (min-width: 300px) and (max-width: 425px) {
  .link {
    font-size: 12px !important;
  }

}

.link {
  font-family: Arial;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.8;
  letter-spacing: normal;
  color: #6f6f6f;
  text-decoration: none;
  padding-right: 16px;
}

.space {
  height: 100px;
}

.spacer {
  flex: 1 1 auto;
}

.searchInput {
  padding: 0 14px;
  font-size: 14px;
  width: 233px;
  border: 1px solid #d5d5d5;
  height: 30px;
  border-radius: 18.7px;
  background-color: #ffffff;
  margin-bottom: 4px;
}

.searchIcon {
  padding: 0px;
  min-width: 0;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  line-height: 30px;
  border-radius: 50%;
  color: #8e8e93;
  margin-bottom: 5px;
  left: -33px;
}

.landing {
  background-color: #f8f9fb;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f8f9fb;
}

.mat-icon {
  color: #767676 !important;
}

.ml-250 {
  margin-left: 250px !important;
}

.ml-0 {
  margin-left: 0px !important;
}

.ml-00 {
  margin-left: 0px !important;
}

mat-sidenav {
  width: 250px;
}

::ng-deep .mat-toolbar{
  z-index: 2;
  top:0;
  position: fixed
}

.content {
  display: initial !important;
  top: 64px !important;
  margin: 0 !important;
  padding-bottom: 100px;
}

.no-margin {
  z-index: 1;
  width: 100vw;
  position: fixed !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.logo-white {
  color: #ffffff;
  font-size: 1.5em !important;
  font-weight: 500;
}

.logo-black {
  color: #000000;
  padding-top: 14px !important;
  padding-bottom: 14px !important;
  font-size: 1em;
  font-weight: 500;
}

.logo-sidenav {
  height: 60px !important;
  border-bottom: 1px solid #7d7676;
}

.circle {
  border-radius: 50%;
}

.with-bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  max-height: 130px;
}

.no-shadow {
  box-shadow: none !important;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0px !important;
  padding-left: 10px !important;
}

.header-bb {
  right: 0px;
  background-color: #ffffff;
  border-bottom: 1px solid #dadada;
}

.bottom-to-top {
  border: 0px;
  border-right: 1px;
  border-style: solid;
  background-color: #2e3640;
  border-image: linear-gradient(to top, #c1c1c1, rgba(0, 0, 0, 0)) 1 100%
}

.new-btn {
  width: 145.9px;
  height: 47.4px;
  border-radius: 4px;
  background-color: #58b287;
  font-family: Arial;
  font-size: 18px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.other-btn {
  width: 145.9px;
  height: 47.4px;
  font-family: Arial;
  font-size: 18px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left !important;
  color: #ffffff;
}

.sidenav-link {
  font-family: Arial;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #e8e8e8;
}

.list {
  height: 46px !important;
}


.pt-20 {
  margin-top: 20px;
  margin-bottom: 14px;
}

.w-160 {
  width: 160px;
}

/*  ---  */

.backbone-icon {
  width: 19px;
  height: 26px;
  padding-right: 8px;
}

.pt-4 {
  padding-top: 3px !important;
  float: left;
}

.footer-landing {
  position: unset;
  left: 0px;
  right: 0px;
  width: initial;
  background-color: #ffffff;
  z-index: 1;
}

.footer {
  left: 250px !important;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: initial;
  background-color: #f8f9fb;
  z-index: 1;
}

.footer-left {
  margin-right: 10px;
}

.footer-right {
  margin-left: 10px;
}

.footer-l-0 {
  left: 0px !important;
}

.header {
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  width: initial;
  z-index: 100;
}
  .header a {
    left: 200px;
    padding: 0px;
    line-height: initial;
  }

  .header h1 {
    display: inline-block;
    margin-left: 0px;
  }

.sidenav {
  align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-align-items: center;
  background-color: #2e3640;
  display: flex;
  flex-direction: column;
  width: 200px;
}

  .sidenav a, .sidenav button {
    min-width: 200px;
    padding: 0px;
    color: #ffffff;
  }

.rotate {
  transform: rotate(180deg);
}

.sidenav-container {
  position: absolute;
  top: 0px;
  bottom: 64px;
  left: 0px;
  right: 0px;
}

.sidenav-content {
  padding: 30px 30px 25px 40px;
}

.sidenav-content-lp {
  padding: 30px 30px 78px 40px;
}
