<mat-sidenav-container [ngClass]="{'container': !isLandingPage(), 'landing': isLandingPage()}">
  <mat-sidenav #sidenav mode="side" [(opened)]="displaySidebar" class="bottom-to-top">
    <mat-nav-list class="ml-0" dense>
      <mat-list-item class="logo-sidenav ml-0 logo-white" fxLayoutAlign="center center" mat-button routerLink="/">
        <img alt="Logo" src="/assets/images/backbone.png?v=0.1.0" class="backbone-icon">
        Backbone
      </mat-list-item>
    </mat-nav-list>

    <mat-list role="list">

      <mat-list-item class="list pt-20" role="listitem" fxLayoutAlign="center center">
        <button mat-flat-button class="new-btn w-160" routerLink="/projects/new">
          <i class="material-icons">add</i>
          New Project
        </button>
      </mat-list-item>

    </mat-list>

    <mat-list role="list" fxLayout="column" fxLayoutAlign="start start">

      <mat-list-item class="list" role="listitem" [hidden]="!currentUser.isAuthenticated()" fxLayoutAlign="center center">
        <button mat-button class="other-btn ta-l" routerLink="/">Dashboard</button>
      </mat-list-item>

      <mat-list-item class="list" role="listitem" [hidden]="currentUser.isAuthenticated()" fxLayoutAlign="center center">
        <button mat-button class="other-btn ta-l" routerLink="/app/account/login">Login</button>
      </mat-list-item>

      <mat-list-item class="list" role="listitem" [hidden]="currentUser.isAuthenticated()" fxLayoutAlign="center center">
        <button mat-button class="other-btn ta-l" routerLink="/app/account/register">Register</button>
      </mat-list-item>

      <mat-list-item class="list" role="listitem" [hidden]="!currentUser.isAuthenticated()" fxLayoutAlign="center center">
        <button mat-button class="other-btn ta-l" routerLink="/app/account">Account</button>
      </mat-list-item>

      <mat-list-item class="list" role="listitem" [hidden]="!currentUser.isAdmin()" fxLayoutAlign="center center">
        <button mat-button class="other-btn ta-l" routerLink="/app/admin">Admin</button>
      </mat-list-item>

    </mat-list>

  </mat-sidenav>

  <mat-sidenav-content [ngClass]="{'ml-250': !isLandingPage(), 'ml-0': !displaySidebar, 'ml-00': isLandingPage()}">

    <mat-toolbar class="header-bb">

      <div *ngIf="isLandingPage()" class="logo-black">
        <img alt="Backbone" src="/assets/images/backbone-black.png?v=0.1.0" class="backbone-icon pt-4">
        Backbone
      </div>

      <button mat-button *ngIf="!isLandingPage()" routerLink="/" class="logo-black">
        <img alt="Backbone" src="/assets/images/backbone-black.png?v=0.1.0" class="backbone-icon">
        Backbone
      </button>

      <span class="spacer"></span>

      <!-- Search Form -->
      <form #searchForm="ngForm" autocomplete="off">
        <input matInput class="searchInput" id="searchKey" name="searchKey" (enter)="search()" [(ngModel)]="searchKey">
        <button mat-icon-button type="submit" class="searchIcon" (click)="search()">
          <i class="material-icons">search</i>
        </button>
      </form>

      <a class="link" fxShow.lt-md="true" fxShow.gt-sm="true" routerLink="/app/account/register" [hidden]="currentUser.isAuthenticated()">
        <span class="ml-1">Register</span>
      </a>

      <a *ngIf="!currentUser.isAuthenticated()" class="link" routerLink="/app/account/login" fxShow.lt-md="true" fxShow.gt-sm="true">
        <span class="ml-2" *ngIf="!currentUser.isAuthenticated()">Login</span>
      </a>

      <a mat-button [matMenuTriggerFor]="menu" fxShow.lt-md="false" fxShow.gt-sm="true">
        <mat-icon *ngIf="currentUser.isAuthenticated()">account_circle</mat-icon>
        <span class="ml-2" *ngIf="currentUser.isAuthenticated()">{{ currentUser.UserName }}</span>
      </a>

      <button mat-icon-button *ngIf="currentUser.isAuthenticated()" [matMenuTriggerFor]="menu" fxShow.lt-md="true"
        fxShow.gt-sm="false">
        <mat-icon>account_circle</mat-icon>
      </button>

      <mat-menu #menu="matMenu" overlapTrigger="false">
        <button mat-menu-item routerLink="/" [hidden]="!currentUser.isAuthenticated()">
          <span>Dashboard</span>
        </button>
        <button mat-menu-item routerLink="/app/account" [hidden]="!currentUser.isAuthenticated()">
          <span>Account</span>
        </button>
        <button mat-menu-item (click)="logout()" [hidden]="!currentUser.isAuthenticated()">
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>

    <!-- forCrowd Backbone content -->
    <mat-sidenav-content class="content" [ngClass]="{'no-margin': isLandingPage()}">

      <router-outlet></router-outlet>

      <div mat-sidenav-content [ngClass]="{'footer-landing sidenav-content-lp': isLandingPage(), 'footer': !isLandingPage(), 'footer-l-0': !opened}"
           class="sidenav-content" fxLayout="row">
        <a href="https://forcrowd.org" target="_blank" class="footer-left">
          <img alt="Logo" src="/assets/images/Logo+Text_142x30.png?v=0.1.2" [ngStyle.xs]="{'padding-top.px': 10, 'width.px': 78}">
        </a>
        <a mat-icon-button href="https://twitter.com/forCrowd" target="_blank" class="footer-left" [ngStyle.xs]="{'padding-left.px': 10, 'width.px': 24}">
          <i class="fa fa-twitter fa-lg" aria-hidden="true" [ngStyle.xs]="{'font-size.px': 12}"></i>
        </a>
        <a mat-icon-button href="https://github.com/forCrowd/Backbone" target="_blank" class="footer-left" [ngStyle.xs]="{'width.px': 24}">
          <i class="fa fa-github fa-lg" aria-hidden="true" [ngStyle.xs]="{'font-size.px': 12}"></i>
        </a>
        <a mat-icon-button href="mailto:contact.backbone@forCrowd.org" class="footer-left" [ngStyle.xs]="{'width.px': 24}">
          <i class="fa fa-envelope fa-lg" aria-hidden="true" [ngStyle.xs]="{'font-size.px': 12}"></i>
        </a>
        <span style="margin: auto;">&nbsp;</span>
        <a mat-button routerLink="/app/contributors" class="footer-right" [ngStyle.xs]="{'font-size.px': 12, 'padding-top.px': 4, 'min-width.px': 80, 'padding-left.px': 4}">
          Contributors
        </a>
        <a mat-button href="https://github.com/forCrowd/Backbone/blob/master/CHANGELOG.md" target="_blank" class="footer-right"
           [ngStyle.xs]="{'font-size.px': 12, 'padding-top.px': 4, 'min-width.px': 80, 'padding-left.px': 4}">
          Version 0.9.18
        </a>
      </div>
    </mat-sidenav-content>
    <!-- ./ forCrowd Backbone content -->

  </mat-sidenav-content>
</mat-sidenav-container>
