<h2>
    Getting Started
</h2>
<hr />

<h3 class="g-mt-20">
    1. Create a new project with 'Todo App' template
</h3>
<div class="g-mt-20">
    <button mat-raised-button (click)="createProject()" type="button" color="primary" [disabled]="project">
        Create a new project
    </button>
</div>

<div *ngIf="exampleCode">
    <h3>
        2. Copy the following HTML block:
    </h3>

    <div class="code-example-block">
        <header>index.html</header>
        <div class="content">
            <pre>
            <button (click)="copy()" class="material-icons" title="Copy code snippet" aria-label="Copy code snippet index.html">
            <span aria-hidden="true">content_copy</span>
            </button>
            <code>{{ exampleCode }}</code>
            </pre>
        </div>
    </div>

    <h3>
        3. Navigate to <a href="https://codepen.io/pen" target="_blank">Codepen</a> and paste the copied block into HTML section
    </h3>

    <h3>
        4. Voila! You created your first application on Backbone.<br />
        When you 'Complete' your items, your changes will be saved in Backbone.<br />
        If you wish, you can continue with updating your <a routerLink="/projects/{{ project.Id }}/edit">Todo App</a> by adding or removing items
    </h3>
</div>
