@media only screen and (min-width: 300px) and (max-width: 425px) {
  #landing-text {
    overflow: hidden !important;
    margin: 10px !important;
    min-height: 300px !important;
  }

  #landing-img {
   float: none !important;
   margin-right:0 !important;
   width:auto !important;
   border:0 !important;
 }

 .img {
  width: 34px !important;
  height: 270px !important;
  background-image: url(/assets/images/backbone-for-ci.gif);
  background-size: 371px !important;
  margin-top:0px !important;
 }

 .m-t-120 {
  margin-top: 10px !important;
 }

 .landing-content .landing .p-50 {
  float: none !important;
  width: 100% !important;
  height: 100px !important;
  font-family: Arial;
  font-size: 18px !important;
 }

  .landing-content .landing .p-50 div {
    font-size: 12px !important;
    padding: 8px 40px 10px 10px !important;
    padding-left: 57px !important;
    padding-right: 0px !important;
  }

}

@media only screen and (min-width: 425px) and (max-width: 768px) {
  .wrapper div {
    min-height: 50px !important;
    padding: 0px 20px 20px 20px !important;
  }

  .wrapper .img {
    margin-top: 20px !important;
  }

  #landing-img {
   float: none;
   margin-right:0;
   width:auto;
   border:0;
   border-bottom:2px solid #000;
 }

 #landing-text {
  min-height: 350px !important;
 }

  #landing-text .m-t-120 {
    margin-top: 10px;
  }

 .img {
  width: 34px !important;
  height: 280px !important;
  background-image: url(/assets/images/backbone-for-ci.gif);
  background-size: 420px !important;
  margin-top:0px !important;
 }

 .landing-content .landing .p-50 {
  float: none;
  width: 100%;
  height: 100px;
  font-family: Arial;
  font-size: 20px;
 }

 .landing-content .landing .p-50 div {
    font-size: 14px;
    padding: 16px 40px 10px 10px;
    padding-left: 57px;
    padding-right: 0px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1020px) {
  .wrapper div {
    min-height: 50px !important;
    padding: 0px 20px 20px 20px !important;
    margin-top: 20px !important;
  }

  #landing-img {
    float: left !important;
    margin-right:0 !important;
    width: 400px !important;
    border:0 !important;
    border-bottom:2px solid #000;
    background-repeat: no-repeat;
  }

  .wrapper .img {
    float: left !important;
    width: 500px !important;
    height: 362px !important;
    background-image: url(/assets/images/backbone-for-ci.gif);
    background-size: 540px !important;
    margin-top:120px !important;
  }

  #landing-text {
    min-height: 450px !important;
  }

  #landing-text .m-t-120 {
    margin-top: 100px !important;
  }

  #landing-text .title {
    height: 30px !important;
    font-size: 20px !important;
    font-weight: bold !important;
  }

  #landing-text .subtitle {
    font-family: Arial;
    font-size: 16px;
  }

.landing-content .landing .p-50 {
  float: none;
  width: 100%;
  height: 100px;
  font-family: Arial;
  font-size: 20px;
}
  .landing-content .landing .p-50 div {
    font-size: 14px;
    padding: 16px 40px 10px 10px;
    padding-left: 57px;
    padding-right: 0px;
  }

  .button {
    width: 168px !important;
    height: 45px !important;
    font-family: Arial;
    font-size: 18px !important;
    font-weight: bold !important;
    letter-spacing: 0.5px;
    border-radius: 4px;
    background-color: #58b287;
    text-align: center;
    color: #eeeeee;
    margin-left: 0px !important;
  }

}

@media only screen and (min-width: 1024px) and (max-width: 1420px) {
  .wrapper div {
    min-height: 50px !important;
    padding: 0px 20px 20px 20px !important;
  }

  .wrapper .img {
    margin-top: 120px !important;
  }
  #landing-img {
   float: left !important;
   margin-right:0 !important;
   width: 556px !important;
   border:0 !important;
 }

 .img {
  margin-top:140px !important;
  width: 528px !important;
  height: 387px !important;
  background-image: url(/assets/images/backbone-for-ci.gif);
  background-size: 595px !important;
  background-repeat: no-repeat;
  margin-top:0px !important;
 }

}

@media only screen and (min-width: 1440px) {
 #landing-img {
  margin-top: 120px !important
 }

 #landing-text {
  min-height: 650px !important;
 }

.img {
  width: 780px !important;
  height: 552px !important;
  margin-top:140px !important;
  background-image: url(/assets/images/backbone-for-ci.gif);
  background-size: 820px !important;
  margin-top:0px !important;
 }
}

@media only screen and (min-width: 2560px) {
 #landing-img {
  margin-top: 120px !important
 }

 #landing-text {
  min-height: 650px !important;
 }

.img {
  width: 828px !important;
  height: 552px !important;
  margin-top:140px !important;
  background-image: url(/assets/images/backbone-for-ci.gif);
  background-size: 820px !important;
  margin-top:0px !important;
 }

}

.wrapper {
  border : 2px solid #000;
  overflow:hidden;
}

.wrapper div {
   min-height: 100px;
   padding: 10px 20px 20px 20px;
}

#landing-img {
  background-color: gray;
  float:left;
  margin-right:20px;
  width:400px;
  border-right:2px solid #000;
}
#landing-text {
  overflow:hidden;
  margin:10px;
  min-height:700px;
}

.m-t-120 {
  margin-top: 120px;
}

.btn {
  margin: 0 auto;
  text-align: left;
}

.button {
  width: 214px;
  height: 57px;
  font-family: Arial;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.5px;
  border-radius: 4px;
  background-color: #58b287;
  text-align: center;
  color: #eeeeee;
  margin-left: 30px !important;
}

.bg {
  background-color: #2e3640;
}

.container {
  max-width: 1140px;
  background-color: #2e3640;
  height: 580px;
  margin: 0 auto;
}

.landing {
  max-width: 1140px;
  margin: 0 auto;
}

.landing-content {
  padding: 50px;
  height: 700px;
}

.p-50 {
  float: left;
  width: 50%;
  height: 200px;
  font-family: Arial;
  font-size: 26px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: normal;
  color: #5a5a5a;
  padding-top: 40px;
}

.p-50 div {
  font-family: Arial;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #4a4a4a;
  padding: 16px 56px 10px 10px;
  padding-left: 56px;
  padding-right: 41px;
}

.p-50 img {
  padding-right: 20px;
  float: left;
}

.content {
  width: 50%;
  height: 582px;
  float: left;
}

.subtitle {
  height: 142px;
  font-family: Arial;
  font-size: 20px;
  line-height: 1.63;
  letter-spacing: normal;
  color: #e5e5e5;
  padding-top: 70px;
  padding-left: 30px;
  padding-right: 20px;
  text-align: left;
}

.title {
  height: 108px;
  font-family: Arial;
  font-size: 28px;
  line-height: 1.49;
  padding-top: 136px;
  padding-right: 20px;
  padding-left: 30px;
  letter-spacing: normal;
  color: #ffffff;
  text-align: left;
}

.img {
  width: 34px;
  float: left;
  margin-top:140px;
  width: 50%;
  height: 400px;
  background-image: url("/assets/images/backbone-for-ci.gif");
}
