.searchInput {
  display: flex;
  align-items: center;
}

.search {
  border-radius: 20px;
}

.mat-cell {
  padding: 4px 0;
}

.mat-table {
  max-height: 500px;
}

.noResults {
  display: flex;
  justify-content: center;
  -o-justify-content: center;
  -webkit-justify-content: center;
  padding: 2em;
}

.mat-stroked-button {
  border: 0px !important;
}

.mat-icon-button {
  padding: 0;
  min-width: 0;
  width: 38px;
  height: 38px;
  flex-shrink: 0;
  line-height: 36px;
  border-radius: 50%;
  right: 11px;
  bottom: 3px;
}
