.block {
    color: #fff;
    width: 100px;
    margin: 10px;
    display: inline-block;
    border-radius: 8px;
    padding: 30px 0;
    font-size: 2em;
    font-weight: 700;
}

    .block.likeBlock {
        background-color: #5cb85c;
    }

    .block.dislikeBlock {
        background-color: #d9534f;
    }

.blockAlt {
    display: inline-block;
    margin: 10px;
    font-weight: 700;
}

    .blockAlt .btn {
        font-size: 2em;
        height: 100px;
        width: 100px;
    }
