<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <clear />
  <add name="SourceContext" connectionString="Server=(LocalDb)\MSSQLLocalDB;Database=Backbone;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="TargetContext" connectionString="Server=(LocalDb)\MSSQLLocalDB;Database=Backbone_Backup;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>
