<div *ngIf="user">
  <h2>{{ user.UserName }}</h2>
  <hr />

  <div class="g-mt-20">
    <div class="noResults" [hidden]="dataSource.data.length > 0">
      Nothing to display!
    </div>

    <table mat-table [dataSource]="dataSource" [trackBy]="trackBy" [hidden]="dataSource.data.length === 0">

      <!-- Name -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Project </th>
        <td mat-cell *matCellDef="let project"> {{ project.Name }} </td>
      </ng-container>

      <!-- RatingCount -->
      <ng-container matColumnDef="ratingCount">
        <th mat-header-cell *matHeaderCellDef> # Ratings </th>
        <td mat-cell *matCellDef="let project"> {{ project.RatingCount }} </td>
      </ng-container>

      <!-- CreatedOn -->
      <ng-container matColumnDef="createdOn">
        <th mat-header-cell *matHeaderCellDef> Created On</th>
        <td mat-cell *matCellDef="let project"> {{ project.CreatedOn | amTimeAgo }} </td>
      </ng-container>

      <!-- Functions -->
      <ng-container matColumnDef="functions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let project">
          <div class="pull-right">
            <a mat-raised-button routerLink="/projects/{{ project.Id }}" [disabled]="isBusy">
              <i class="fa fa-pencil" aria-hidden="true"></i> View
            </a>
            <a mat-raised-button routerLink="/projects/{{ project.Id }}/edit" [disabled]="isBusy" [hidden]="!userActionsEnabled()">
              <i class="fa fa-pencil" aria-hidden="true"></i> Manage
            </a>
            <button mat-raised-button (click)="confirmRemove(project)" type="button" [disabled]="isBusy" [hidden]="!userActionsEnabled()">
              <i class="fa fa-times" aria-hidden="true"></i> Remove
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>
</div>
